
.bodyInfo{
    display: flex;
    flex-direction: column;
    gap: 2vw;
    padding: 7vw 3vw;
}

.title>h2{
    font-weight: 700;
    font-size: 4vw;
    margin-bottom: 1vw;
}
.blueBar{
    width: 15vw;
    height: 1vh;
    background-color: #3F3EF4;
    margin-bottom: 1vw;   
    border-radius: 30px;
}
.eduInfo{
    width: 40vw;
}
.textEducation{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 2vw;
}
.firstLine{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1vw;
}