* {
  margin: 0;
  padding: 0;
}

*, *:after, *:before {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  color: #313131;
}

h2 {
  color: purple;
  margin-bottom: 2rem;
  text-align: center;
}

.jokenpo {
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
}

.row {
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-evenly;
}

.box {
  width: 100px;
  height: 100px;
  background: #ddd;
  text-align: center;
}

button {
  background: purple;
  border: 0;
  padding: .5rem 1.5rem;
  color: #fff;
  border-radius: 1rem;
  cursor: pointer;
}