.header{
    width: 94vw;
    height: 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6950A1;
    padding: 3vw;
    color: white;
}
.title>h1{
    font-size: 42px;
    font-weight: 500;
    font-family: Play;
    margin-right: 30px;
}

.mainContent{
    box-sizing: border-box;
    margin-top: 3vw;
    background-color: #6950A1;
    color: white;
    width: 100vw;
    height: 20vw;
    padding: 3vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}

.imgMovie>img{
    width: 200px;
    height: 200px;
    border-radius: 10%;

}
.contentMovie{
    display: flex;
    flex-direction: column;
}
.firstLine{
    display: flex;
    justify-content: space-between;
    gap: 20vw;
    position: relative;
    top: 30px;
    padding-right: 40px;
}
.firstLine>h2{
    font-weight: 600;
}
.firstLine>h4{
    font-weight: 300;
}
.secondLine{
    display: flex;
}
.secondLine>h4{
    width: 40%;
    font-size: 23px;
    font-weight: 300;
}
.bodyCatalog{
    margin: 5%;    
    display: flex;
    flex-direction: column;
}
.catalogTitle>h1{
    font-size: 48px;
    font-weight: 400;
}
.catalogImgs{
    height: 600px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 10vw;
}
.imgCard{
    width: 200px;
    height: 200px;
    border-radius: 10%;
}
